body{
    margin:0px;
    min-width:320px;
    padding:0px;
    background-color: rgb(1, 0, 30);
}
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.6s;
}
/* general */
.flex-end{
    justify-content: flex-end;
}
.size1-2rem{
    font-size: 1.1rem;
}
.size-small{
    font-size: 0.9rem;
}
.size1-5rem{
    font-size: 1.5rem;
}
.column-flex{
    flex-direction: column;
}
.no-border{
    border:none;
    padding:2px;
}
.remove-underline{
    text-decoration: none;
}
.background-gray{
    background-color:rgb(105,105,105);
}
.flex{
    display:flex;
}
.h90{
    height:90%;
}
.w15{
    width:15%;
}
.margin5px{
    margin:0px 15px 0px 15px;
    border-radius: 6px;
}
.white{
    color:rgb(255, 255, 255);
}
::placeholder{
    color:white;
}
.me-picture{
    border-radius: 50%;
}
.weight{
    font-size: 1.2rem;
    font-weight: 700;
}

/* top search bar */
header{
    position:fixed;
    height:9vh;
    background-color: rgb(1, 0, 30);
    width:100%;
    display:flex;
}
#header-left,#header-right{
    width:50%;
    height:90%;
    display:flex;
    margin:5px;
}
#header-left{
    margin-left: 40px;
    justify-content: flex-start;
    align-items: center;
}
#header-left div img{
    width:50%;
    height:100%;
    margin-right: 3px;
}
#header-right{
    justify-content: flex-end;
    margin-right: -10px;
    align-items: center;
}

/* playbar */
footer{
    position: fixed;
    top:91.5vh;
    background-color:#121221;
    width:100%;
    height: 9vh;
    display:flex;
    padding:2px;
}
#footer-left{
    width:20%;
    height:100%;
    display: flex;
    align-items: center;
}
#footer-left img{
    height:90%;
    width:18%;
    margin-right: 6px;
    
}

.overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
#footer-mid{
    width:40%;
}
#footer-mid-up{
    display: flex;
    align-items: center;
    width:60%;
    margin:auto;
    justify-content: space-around;
}
.border-white{
    border: 1px solid white;
    padding:3px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 1px white;
}

#footer-right{
    width:10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* aside section */
#side-box{
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: gold; */
}
#up-aside{
    /* background-color: gray; */
    height:42vh;
}

#queue{
    width:100%;
    /* background-color: darkseagreen; */
    
    position:relative;
    /* top:30vh; */
    height:41vh;
    /* top:50vh;
    height:42vh; */
    overflow:scroll;
}
a.dot:focus+div{
    display: block;
}
.dot{
    text-decoration: none;
    color: white;
}
.show{
    display:none;
    position:absolute;
    min-width:100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    right:10px;
    background-color:white;
}
.show>div{
    border-bottom: 1px solid black;
    margin:3px;
}
.show a{
    color: black;
    padding: 2px 6px;
    text-decoration: none;
    display: block;
}
        /* Hide scrollbar for Chrome, Safari and Opera*/
content main::-webkit-scrollbar {
    display: none;
}
#queue::-webkit-scrollbar{
    display:none;
}

        /* Hide scrollbar for IE and Edge */
content section aside,content main {
    -ms-overflow-style: none;
}
#queue-head>div{
    width:47%;
}
#queue-head{
    align-items: center;
    width:100%;
    justify-content: center;
    height:65px;
}
#queue-ele{
    display: flex;
    width:100%;
    flex-direction: column;

}
.queue-element{
    display:flex;
    width:100%;
    height:52px;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}
.queue-ele-no{
    /* margin:auto; */
    width: 5%;
}
.queue-ele-no span{
    color: white;
}
.queue-ele-det span{
    color: white;
}
.queue-ele-img{
    width: 12%;
    height:75%;
    position: relative;
    margin-right: 8px;
}
.queue-ele-img img{
    width:100%;
    height:100%;
}
.queue-ele-det{
    min-width:70%;
    height:75%;
    display: flex;
    flex-direction: column;
}
.queue-ele-ico{
    width:8%;
    position: relative;
    display:inline;
}
.after-fav{
    display:none;
    position:absolute;
    top:0px;
}

.before-fav:focus+.after-fav{
    display:block;
}


.before-fav:visited{
    color:white;
} 
.queue-ele-img:hover .queue-ele-img-hover{
    display:flex;
}
.queue-ele-img-hover{
    display: none;
    position: absolute;
    top:0px;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    height: 100%;
    width: 100%;
    opacity: 0.6;

}
.queue-element:hover{
    background-color: darkgray;
    opacity: 0.8;
    border-radius: 10px;
}



/* between section */
    /* main */
content{
    width:90%;
    justify-content: center;
    background-color: rgb(1, 0, 30);
    height:100vh;
}
content main{
    width:68%;
    background-color: rgb(1, 0, 70);
    padding:7px;
    position:relative;
    top:9vh;
    height:84vh;
    overflow:scroll;
    margin-right: 2%;
}
.song-set{
    width:97%;
    /* background-color: dimgray; */
    margin:1%;
    margin-top: 4%;
    display:flex;
    height:60px;
}
.song-img-set{
    width:22%;
    height:95%;
    position: relative;
    margin: 2px;
}
.song-set-det{
    width:65%;
    justify-content: center;
    color: white;
}
.song-img{
    width:100%;
    height:100%;
}
.song-img:hover+.song-img-hover{
    display: flex;
    opacity: 0.8;  ;
}
.song-img-hover{
    display: none;
    position: absolute;
    top:0px;
    background-color: gainsboro;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    transition:1s;
}


/* artist intro */
#artist-intro-set{
    height:43vh;
    /* background-color: hotpink; */
    display:flex;
}
#artist-intro-set div img{
    height:100%;
    width:100%;
    object-fit: contain;
}

#artist-intro{
    width:64%;
    padding: 25px;
    /* background-color: khaki; */
}

#intro-but{
    margin-top:20px;
}

#intro-but div input{
    height:5.8vh;
    width:12vw;
    border:none;
    color:white;
    font-size: 1rem;
}
#play-all-but input{
    background-image: linear-gradient(90deg,blue,purple 110%);
}

#follow input{
    background-color: transparent !important;
    border:none;
    color:white;
    font-size: 1rem;
}


/* set of artist songs */
#artist-song-list{
    width:100%;
    overflow: scroll;
    height:40vh;
}
    /* Hide scrollbar for Chrome, Safari and Opera*/
#artist-song-list::-webkit-scrollbar {
    display: none;
}

        /* Hide scrollbar for IE and Edge */
#artist-song-list{
    -ms-overflow-style: none;
}
.art-element{
    display:flex;
    width:97%;
    height:52px;
    align-items: center;
    justify-content: center;
    background-color:rgb(1,0,50);
    margin-top: 0.4%;
    border-radius: 6px;
    margin-bottom: 0.2%;
}
.art-ele-no{
    /* margin:auto; */
    width: 3%;
}

.art-ele-img{
    width: 7%;
    height:75%;
    position: relative;
    margin-right: 8px;
}
.art-ele-img img{
    width:100%;
    height:100%;
}
.art-ele-det{
    width:80%;
    height:75%;
    display: flex;
    flex-direction: column;
}
.art-ele-ico{
    width:8%;
    position: relative;
    display:flex;
    /* justify-content: space-between; */
}



.art-ele-img:hover .art-ele-img-hover{
    display:flex;
}
.art-ele-img-hover{
    display: none;
    position: absolute;
    top:0px;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    height: 100%;
    width: 100%;
    opacity: 0.6;

}
.art-element:hover{
    background-color: darkgray;
    opacity: 0.8;
    border-radius: 10px;
}
.img{
    height: 100%;
    width: 36%;
    box-shadow: 0px -50px 25px gray inset;
}

@media (max-width:1024px){
    #artist-intro-set{
        height:60vh;
    }
    .img{
        height:60%;
    }
    /* aside heading font size set */
    .aa{
        font-size: 1rem;
        font-weight: 500;
    }


    
}
@media (max-width:768px){
    #side-box{
        display :none;
    }
    content main{
        width:90%;
    }
    #header-right>.no-border>input{
        display:none;
    }
}
@media (max-width:572px){

    .img{
        display:none;
    }
    #artist-intro{
        width:90%;
    }
    #footer-right{
        display:none;
    }
    #header-left>div>h4{
        display:none;
    }
    

}

@media (max-width:480px){
    #footer-left{
        display: none;
    }
    #footer-mid{
        width: 80%;
    }
    #intro-but{
        display: none;
    }
}
